@import "src/index";

.info {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: .7rem;

  & > svg {
    color: $onSecondaryColor;
    min-width: 2rem;
    min-height: 2rem;
  }

  & > p, & > a {
    color: $onSecondaryColor !important
  }
}
