@import "src/index";

.repo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 2px solid $detailColor;
  padding-bottom: 1rem;

  &:last-child {
    border: none
  }

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    color: $titleColor;
  }

  .description {
    color: $onSecondaryColor;
    width: 100%;
  }

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > p {
      color: $onSecondaryColor;
    }

    & > svg {
      color: $onSecondaryColor;
      width: 2rem;
      height: 2rem;
    }
  }
}
