@import "src/index";
@import "src/animations";

.ripple {
  width: 0;
  position: absolute;
  border-radius: 100%;
  background: #FFF;
  animation: ripple linear forwards .5s;
  pointer-events: none;
  aspect-ratio: 1;
}