@import "src/index";

.button {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: $primaryColor;
  color: $onPrimaryColor;
  padding: .7rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: .3rem;
  font-weight: 500;
  height: 50px;
}
