@import "src/index";

.button {
  & > button {
    background: $primaryColor;
    color: $onPrimaryColor;
    border-radius: .5rem;
    padding: .7rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .4rem;
    font-weight: 500;

    &:hover {
      opacity: .7;
    }

    &:active {
      box-shadow: inset 0 1px 1px #000;
    }
  }
}