@keyframes ripple {
  from {
    opacity: .5;
    transform: scale(0)
  }

  to {
    opacity: 0;
    transform: scale(20)
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%)
  }

  to {
    transform: none;
  }
}

@keyframes slide-out {
  from {
    transform: none;
  }

  to {
    transform: translateX(-200%)
  }
}
