@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  user-select: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2.5px;
  text-overflow: ellipsis;
}

html, body, #root{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 560px;
  background: linear-gradient(30deg, #2E3322 0%, #111111 30%, #2E3322 100%);
}

body > *:hover, *:active, *:focus *:not(:hover), *:not(:active), *:not(:focus){
  transition: 200ms;
}

a[href]{
  text-decoration: none;
  color: initial;
}

a[href]:hover{
  text-decoration: none;
  opacity: .8;
}

a[href]:active{
  text-decoration: none;
  opacity: .3;
}

button{
  border: none;
  background-color: transparent;
}

input{
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

$primaryColor: #8C19D2;
$onPrimaryColor: #FFFFFF;
$secondaryColor: #FFFFFF;
$onSecondaryColor: #4A5568;
$backgroundColor: #FCFCFC;
$titleColor: #171923;
